.foot {
  width: 100%;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.988);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 0 auto !important;
  margin-top: 30px !important;
  .foot-child-up {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    .info-child1,
    .info-child2,
    .info-child3,
    .info-child4 {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      .info {
        width: fit-content;
        height: 100%;
        list-style: none;
        /* m */
        .info-list {
          width: fit-content;
          height: fit-content;
          line-height: 2;

          p {
            font-size: 13px;
            font-weight: 400;
            color: var(--color-fonts-first);
            font-family: var(--font-Montserrat);
          }
          .first-line {
            font-size: 15px;
            font-family: var(--font-Cormorant-Garamond);
            color: white;
            font-weight: 500;
          }
        }
      }
    }
    .info-child5 {
      width: 240px;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      .info-icons {
        width: 100%;
        height: 260px;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        svg {
          width: fit-content;
          height: fit-content;
          cursor: pointer;
          transition: 300ms;
          &:hover {
            stroke: rgba(245, 245, 245, 0.736);
          }
        }
      }
      .logo-top {
        display: none !important;
        width: 100%;
        height: 140px;
        img {
          width: 100%;
        }
      }
    }
  }
  .foot-child-bottom {
    width: 100%;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-left: 50px;
    gap: 170px;
    .right-info {
      width: 550px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      p {
        font-size: 11px;
        font-family: var(--font-karla);
        color: var(--color-fonts-first);
        font-weight: 500;
        white-space: nowrap;
        cursor: pointer;
      }
    }
    .left-info {
      width: 175px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 11px;
        font-family: var(--font-karla);
        color: var(--color-fonts-first);
        font-weight: 500;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}
